@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-slate-800;
  }
  
  body {
    @apply bg-slate-950 text-slate-200;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: 'Fira Code', 'Courier New', monospace;
  }
}

@layer utilities {
  .prose {
    @apply text-slate-200;
  }
  
  .prose-invert {
    @apply text-slate-200;
  }
}
